<div class="min-h-screen w-screen flex items-center justify-center">
  <div class="w-full mx-4 max-w-[475px]">
    <div class="border border-clr-gray rounded-3xl p-6 py-8 md:p-10 mb-2">
      <img ngSrc="assets/svgs/devchallenges.svg" alt="logo" priority width="131" height="19" class="mb-5">
      <router-outlet></router-outlet>
    </div>
    <div class="flex items-center justify-between text-xs md:text-sm text-clr-text-light">
      <p>created by
        <a class="underline font-bold" href="https://github.com/king-martinien" target="_blank">king-martinien</a></p>
      <a href="https://legacy.devchallenges.io/challenges/N1fvBjQfhlkctmwj1tnw" target="_blank">devChallenges.io</a>
    </div>
  </div>
</div>
