<div class="bg-clr-gray-light h-screen flex">
  <div class="w-72 bg-clr-white h-full fixed md:relative"></div>
  <div class="h-[75px] lg:h-20 w-full bg-clr-white">
    <div class="h-full flex items-center justify-between md:justify-end px-4 md:px-10 lg:px-16 mx-auto">
      <div class="flex gap-2 items-center md:hidden">
        <button class="w-8 h-8 border border-clr-gray/50 rounded"></button>
        <a href="" class="w-8 h-8 flex">
          <img ngSrc="assets/images/devchallenges.png" alt="logo" width="53" height="53" priority>
        </a>
      </div>

      <div>
        <div class="w-10 h-10 lg:w-12 lg:h-12 rounded-full bg-clr-gray/50"></div>
      </div>
    </div>
  </div>
</div>
