<div class="min-h-screen lg:h-screen flex">
  <div class="bg-clr-primary h-full fixed lg:relative transition-all duration-300"
       [ngClass]="[isNavbarOpen() ? 'w-72' : '-translate-x-[50px] w-0 lg:w-20 lg:-translate-x-0']">
    <div class="h-[75px] lg:h-20 relative">
      <button (click)="toggleNavbar()"
              class="w-7 h-7 rounded-full bg-clr-white border border-clr-primary absolute top-1/2 -translate-y-1/2 -right-3.5"></button>
    </div>
  </div>
  <div class="transition-all duration-300" [ngClass]="[isNavbarOpen() ?
  'w-full lg:w-[calc(100vw_-_288px)]' : 'w-full lg:w-[calc(100vw_-_80px)]']">
    <div class="h-[75px] lg:h-20 w-full bg-clr-white border-b border-clr-gray/20">
      <div class="h-full flex items-center justify-between md:justify-end px-4 md:px-10 lg:px-16 mx-auto">
        <div class="flex gap-2 items-center md:hidden">
          <button class="w-8 h-8 border border-clr-gray/50 rounded" (click)="toggleNavbar()"></button>
          <a href="" class="w-8 h-8 flex">
            <img ngSrc="assets/images/devchallenges.png" alt="logo" width="53" height="53" priority>
          </a>
        </div>

        <div>
          <div class="w-10 h-10 lg:w-12 lg:h-12 rounded-full bg-clr-gray/50"></div>
        </div>
      </div>
    </div>
    <div class="h-[calc(100vh_-_75px)] lg:h-[calc(100vh_-_80px)] px-4 py-8 lg:py-12 md:px-10 lg:px-16">

      <div class="border-b border-clr-gray/30 pb-5">
        <h3 class="text-3xl font-black">Profile</h3>
        <p>Update your photo and personal details here.</p>
      </div>
    </div>
  </div>
</div>
